 @font-face {
            font-family: vazir;
            src: url(regular.ttf);
        }
        
        h1 {
            padding-left: 80px;
                text-shadow: 3px 1px 4px black;
        }
        
        p {
            padding-left: 80px;
        }
        
       
        /* map */
        
        svg {
            width: 100%;
            height: auto;
        }
        
        path {
            fill: #fff;
            stroke: #6a6a6a;
            stroke-width: 1px;
        }
        
        .active path,
        path:hover {
            fill: #0067a5 !important;
        }
        
        .Island path {
            fill: #6a6a6a;
        }
        
        .tooltipCity {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            background: #d35500;
            color: #fff;
            font-size: 11px;
            padding: 0 5px;
            border-radius: 3px;
        }
        /* button */
        
        .button {
            background: #3498db;
            width: 180px;
            padding: 4px 0;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            border-radius: 3px;
        }
        
        .button p {
            font-family: 'Roboto';
            text-align: center;
            text-transform: uppercase;
            color: #FFF;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .button:hover {
            cursor: pointer;
        }
        
        .button:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 10%;
            border-radius: 50%;
            background-color: #312f38;
            opacity: 0.4;
            bottom: -30px;
        }
        
        .ch4 {
            position: relative;
            left: 101%;
            top: 10vh;
            opacity: 0;
            z-index: 100;
            height: 25%;
            width: 5%;
            margin-bottom: ;
            margin-left: -15px;
        }
        
        .ch3 {
            position: relative;
            left: 101%;
            top: 25vh;
            z-index: 100;
            opacity: 0;
            height: 25%;
            width: 5%;
            margin-bottom: ;
            margin-left: -15px;
        }
        
        .ch2 {
            position: relative;
            left: 101%;
            top: 50vh;
            z-index: 100;
            height: 25%;
            width: 5%;
            opacity: 0;
            margin-bottom: ;
            margin-left: -15px;
        }
        
        .ch1 {
            position: relative;
            left: 101%;
            top: 75vh;
            z-index: 100;
            height: 25%;
            opacity: 0;
            width: 5%;
            margin-bottom: ;
            margin-left: -15px;
        }
        
        .select_city {
            position: fixed;
            transform: rotate(-89deg);
            z-index: 100;
            right: 9%;
            font-size: 24px;
            top: 65px;
            text-shadow: 1px 1px 1px #1b1a1a;
        }
        
        .buy_settings {
            position: fixed;
            transform: rotate(-89deg);
            z-index: 100;
            right: 4%;
            font-size: 20px;
            top: 40%;
            text-shadow: 1px 1px 1px #1b1a1a;
        }
        
        .buy {
            position: fixed;
            transform: rotate(-89deg);
            z-index: 100;
            right: 0%;
            font-size: 19px;
            top: 65%;
            text-shadow: 1px 1px 1px #1b1a1a;
        }
        
        .shipping {
            position: fixed;
            transform: rotate(-89deg);
            z-index: 100;
            right: -5%;
            font-size: 19px;
            top: 89%;
            text-shadow: 1px 1px 1px #1b1a1a;
        }
        
        @media only screen and (max-device-width: 480px) {
            .tab3_text {
                margin-right: -50px !important;
                top: 23em !important;
            }
            .tab2_text {
                margin-right: -81px !important;
                top: 40em !important;
            }
            .tab1_text {
                margin-right: -63px !important;
                top: 57em !important;
            }
        }
        
        .tab4_text {
            float: right;
            margin-right: -58px;
            z-index: 9999;
            font-size: 24px;
            top: 4em;
            transform: rotate(90deg);
            position: relative;
        }
        
        .tab3_text {
            float: right;
            margin-right: -72px;
            z-index: 9999;
            font-size: 24px;
            top: 11em;
            transform: rotate(90deg);
            position: relative;
        }
        
        .tab2_text {
            float: right;
            margin-right: -104px;
            z-index: 9999;
            top: 19em;
            font-size: 24px;
            transform: rotate(90deg);
            position: relative;
        }
        
        .tab1_text {
            float: right;
            margin-right: -77px;
            z-index: 9999;
            top: 27em;
            font-size: 24px;
            transform: rotate(90deg);
            position: relative;
        }
        /* buy setttings */
        
        .snip1560 {
            display: inline-block;
            margin: 8px;
            min-width: 230px;
            max-width: 483px;
            width: 100%;
            color: #90221f;
            text-align: center;
            font-size: 14px;
            box-shadow: none !important;
            position: relative;
            padding: 10px;
            border: 2px solid #e8b563;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .snip1560:before {
            content: '';
            background-color: #000000;
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            z-index: -1;
        }
        
        .snip1560 * {
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }
        
        .snip1560 img {
            max-width: 100%;
            vertical-align: top;
            background-image: linear-gradient(#000000, #ffffff);
        }
        
        .snip1560 figcaption,
        .snip1560 .link {
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
        }
        
        .snip1560 h2,
        .snip1560 h3,
        .snip1560 h4 {
            margin: 0px;
            position: absolute;
            width: 100%;
            text-transform: uppercase;
        }
        
        .snip1560 h2 {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 2em;
            font-family: 'Playfair Display', Arial, sans-serif;
        }
        
        .snip1560 h2 span {
            color: #e8b563;
        }
        
        .snip1560 h3 {
            font-size: 2.3em;
            bottom: 115px;
            font-weight: 700;
            letter-spacing: 2px;
        }
        
        .snip1560 h4 {
            top: 0;
            font-size: 1.2em;
            letter-spacing: 1px;
            font-weight: 400;
            opacity: 0.9;
            font-family: 'Playfair Display', Arial, sans-serif;
        }
        
        .snip1560:hover img,
        .snip1560.hover img {
            opacity: 0.35;
        }
        
        .content {
            position: relative;
            top: -208px;
        }


.shop {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}



button {
  font-size: 19px;
  font-family: 'vazir';
  overflow: visible;
  border-radius: 3px;
  position: relative;
  padding-right: 30px;
  direction: rtl;
  background-color: #ecfbff;
  border: 2px solid #a6e0ee;
  color: #2d7586;
  display: block;
  margin: 10% auto;
  height: 60px;
  width: 200px;
  cursor: pointer;
}
button:hover {
  background-color: #ddf7ff;
}
button:hover svg {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-transition: -webkit-transform 0.15s;
  -moz-transition: -moz-transform 0.15s;
  -o-transition: -o-transform 0.15s;
  -ms-transition: -ms-transform 0.15s;
  transition: transform 0.15s;
}
button svg {
  position: absolute;
  top: 13px;
  left: 25px;
  height: 30px;
  width: auto;
  -webkit-transition: -webkit-transform 0.15s;
  -moz-transition: -moz-transform 0.15s;
  -o-transition: -o-transform 0.15s;
  -ms-transition: -ms-transform 0.15s;
  transition: transform 0.15s;
}
button svg path {
  fill: #2d7586;
}
button.clicked {
  background-color: #cff5b3;
  border: 2px solid #cff5b3;
  color: #6aaa3b;
  padding-right: 6px;
  -webkit-animation: bounce-in 0.3s;
  -moz-animation: bounce-in 0.3s;
  -o-animation: bounce-in 0.3s;
  -ms-animation: bounce-in 0.3s;
  animation: bounce-in 0.3s;
  cursor: default;
}
button.clicked svg {
  -webkit-animation: flyaway 1.3s linear;
  -moz-animation: flyaway 1.3s linear;
  -o-animation: flyaway 1.3s linear;
  -ms-animation: flyaway 1.3s linear;
  animation: flyaway 1.3s linear;
  top: -80px;
  right: -1000px;
}
button.clicked svg path {
  fill: #6aaa3b;
}
@-moz-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
@-webkit-keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
@-o-keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
@keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}


.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 600;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #66DC71;
}
.li.complete .status:before {
  background-color: #66DC71;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #66DC71;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}

