
/* Shelf (Works best in Webkit) */
.shelf {
	position: relative;
	width: 721px;
	border-bottom: 13px solid #24252a;
	text-align: center;
	padding: 0 27px;
  margin: -161px auto;
  background: transparent;
}

.shelf:after {
	position: absolute;
	bottom: -13px;
	left: 34px;
	height: 10px;
	background: transparent;
	content: "";
	-webkit-transform: perspective( 150 ) rotateX( -25deg );
	   -moz-transform: perspective( 150 ) rotateX( -25deg );
	    -ms-transform: perspective( 150 ) rotateX( -25deg );
	        transform: perspective( 150 ) rotateX( -25deg );
	right: 34px;
	box-shadow: 0 0 17px 5px rgba(0, 0, 0, 0.7);
	z-index: -1;
}

	.shelf > div {
		border-bottom: 23px solid #303138;
		position: relative;
		z-index: 1;
	}
	
	.shelf > div:before {
	  content: '';
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 0 0 23px 27px;
	  border-color: transparent transparent #303138 transparent;
	  position: absolute;
	  bottom: -23px;
	  left: -27px;
	  z-index: 2;
	  -webkit-transform:rotate(360deg);
	  -moz-transform:rotate(360deg);
	  transform:rotate(360deg);
	}
	
	.shelf > div:after {
	  content: '';
	  width: 0px;
	  height: 0px;
	  border-style: solid;
	  border-width: 23px 0 0 27px;
	  border-color: transparent transparent transparent #303138;
	  position: absolute;
	  bottom: -23px;
	  right: -27px;
	  z-index: 2;
	}
	
		.shelf > div > * {
			position: relative;
			z-index: 2;
			top: 18px;
		}


/* Default case template (Bluray) */

.case {
	display: inline-block;
	width: 142px;
	height: 89px;
	border-radius: 5px;
	position: relative;
	z-index: 1;
}


	
	
		
	
		
			
			
				.case > div > .img > span > img {
					width: 100%;
					height: 100%;
					display: block;
					border-radius: 0 3px 3px 0;
				}

				
/* PS3 */
.case.ps3 > div {
	background: #fff;
	background: rgba(239, 239, 239, 0.8);
}

	.case.ps3 > div > .logo {
		text-align: left;
		overflow: hidden;
	}
	
		.case.ps3 > div > .logo > img {
			float: left;
			margin-left: 10px;
		}
		
		.case.ps3 > div > .logo > img + img {
			float: right;
			margin-right: 7px;
			max-height: 3px;
			margin-top: 2px;
		}
		
/* XBOX 360 */
.case.xbox {
	height: 203px;
}

.case.xbox > div {
	background: #75bb24;
	background: rgba(117, 187, 36, 0.8);
	padding: 3px 3px 3px 0;
	border-radius: 2px 5px 5px 2px;
}

/* CD */
.case.cd {
	height: 131px;
}

.case.cd > div {
	background: #fff;
	background: rgba(255, 255, 255, 0.15);
	border-radius: 0;
	padding: 1px 1px 1px 13px;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

	.case.cd > div > .img {
		border-radius: 0;
		padding: 0;
		border: 1px solid rgba(0, 0, 0, 0.6);
	}
	
	.case.cd > div > .img:after,
	.case.cd > div > .img > span:before,
	.case.cd > div > .img > span:after {
		display: none;
	}
	
	.case.cd > div > .img:before {
		box-shadow: none;
		width: 12px;
		background-color: #444;
		background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, rgba(0, 0, 0, .2)), color-stop(.5, transparent), to(transparent));
		background-image: -webkit-linear-gradient(0deg, rgba(0, 0, 0, .2) 50%, transparent 50%, transparent);
		background-image: -moz-linear-gradient(0deg, rgba(0, 0, 0, .2) 50%, transparent 50%, transparent);
		background-image: -ms-linear-gradient(0deg, rgba(0, 0, 0, .2) 50%, transparent 50%, transparent);
		background-image: -o-linear-gradient(0deg, rgba(0, 0, 0, .2) 50%, transparent 50%, transparent);
		background-image: linear-gradient(0deg, rgba(0, 0, 0, .2) 50%, transparent 50%, transparent);
		border-radius: 0;
		background-size: 2px 100%;
		top: -1px;
		bottom: -1px;
		left: -14px;
	}
	
		.case.cd > div > .img > span {
			background: transparent;
		}
		
			.case.cd > div > .img > span > img {
				border-radius: 0;
			}



/* map */
        
        svg {
            width: 100%;
            height: auto;
        }
        
        path {
            fill: #fff;
            stroke: #6a6a6a;
            stroke-width: 1px;
        }
        
        .active path,
        path:hover {
            fill: #0067a5 !important;
        }
        
        .Island path {
            fill: #6a6a6a;
        }
        
        .tooltipCity {
            position: absolute;
            top: 0px;
            left: 0px;
            display: none;
            background: #d35500;
            color: #fff;
            font-size: 11px;
            padding: 0 5px;
            border-radius: 3px;
        }
        /* button */
        
        .button {
            background: #3498db;
            width: 180px;
            padding: 4px 0;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            border-radius: 3px;
        }
        
        .button p {
            font-family: 'Roboto';
            text-align: center;
            text-transform: uppercase;
            color: #FFF;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
        
        .button:hover {
            cursor: pointer;
        }
        
        .button:after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 10%;
            border-radius: 50%;
            background-color: #312f38;
            opacity: 0.4;
            bottom: -30px;
        }
        
        .ch4 {
            position: relative;
            left: 101%;
            top: 10vh;
            opacity: 0;
            z-index: 100;
            height: 25%;
            width: 5%;
            margin-bottom: ;
            margin-left: -15px;
        }
        
        .ch3 {
            position: relative;
            left: 101%;
            top: 25vh;
            z-index: 100;
            opacity: 0;
            height: 25%;
            width: 5%;
            margin-bottom: ;
            margin-left: -15px;
        }
        
        .ch2 {
            position: relative;
            left: 101%;
            top: 50vh;
            z-index: 100;
            height: 25%;
            width: 5%;
            opacity: 0;
            margin-bottom: ;
            margin-left: -15px;
        }
        
        .ch1 {
            position: relative;
            left: 101%;
            top: 75vh;
            z-index: 100;
            height: 25%;
            opacity: 0;
            width: 5%;
            margin-bottom: ;
            margin-left: -15px;
        }
        
        .select_city {
            position: fixed;
            transform: rotate(-89deg);
            z-index: 100;
            right: 9%;
            font-size: 24px;
            top: 65px;
            text-shadow: 1px 1px 1px #1b1a1a;
        }
        
        .buy_settings {
            position: fixed;
            transform: rotate(-89deg);
            z-index: 100;
            right: 4%;
            font-size: 20px;
            top: 40%;
            text-shadow: 1px 1px 1px #1b1a1a;
        }
        
        .buy {
            position: fixed;
            transform: rotate(-89deg);
            z-index: 100;
            right: 0%;
            font-size: 19px;
            top: 65%;
            text-shadow: 1px 1px 1px #1b1a1a;
        }
        
        .shipping {
            position: fixed;
            transform: rotate(-89deg);
            z-index: 100;
            right: -5%;
            font-size: 19px;
            top: 89%;
            text-shadow: 1px 1px 1px #1b1a1a;
        }
        
        @media only screen and (max-device-width: 480px) {
            .tab3_text {
                margin-right: -50px !important;
                top: 23em !important;
            }
            .tab2_text {
                margin-right: -81px !important;
                top: 40em !important;
            }
            .tab1_text {
                margin-right: -63px !important;
                top: 57em !important;
            }
        }
        
        .tab4_text {
            float: right;
            margin-right: -58px;
            z-index: 9999;
            font-size: 24px;
            top: 4em;
            transform: rotate(90deg);
            position: relative;
        }
        
        .tab3_text {
            float: right;
            margin-right: -72px;
            z-index: 9999;
            font-size: 24px;
            top: 11em;
            transform: rotate(90deg);
            position: relative;
        }
        
        .tab2_text {
            float: right;
            margin-right: -104px;
            z-index: 9999;
            top: 19em;
            font-size: 24px;
            transform: rotate(90deg);
            position: relative;
        }
        
        .tab1_text {
            float: right;
            margin-right: -77px;
            z-index: 9999;
            top: 27em;
            font-size: 24px;
            transform: rotate(90deg);
            position: relative;
        }
        /* buy setttings */
        
        .snip1560 {
            display: inline-block;
            margin: 8px;
            min-width: 230px;
            max-width: 483px;
            width: 100%;
            color: #90221f;
            text-align: center;
            font-size: 14px;
            box-shadow: none !important;
            position: relative;
            padding: 10px;
            border: 2px solid #e8b563;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        
        .snip1560:before {
            content: '';
            background-color: #000000;
            position: absolute;
            top: 10px;
            bottom: 10px;
            left: 10px;
            right: 10px;
            z-index: -1;
        }
        
        .snip1560 * {
            -webkit-transition: all 0.35s ease;
            transition: all 0.35s ease;
        }
        
        .snip1560 img {
            max-width: 100%;
            vertical-align: top;
            background-image: linear-gradient(#000000, #ffffff);
        }
        
        .snip1560 figcaption,
        .snip1560 .link {
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
        }
        
        .snip1560 h2,
        .snip1560 h3,
        .snip1560 h4 {
            margin: 0px;
            position: absolute;
            width: 100%;
            text-transform: uppercase;
        }
        
        .snip1560 h2 {
            top: 50%;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
            font-size: 2em;
            font-family: 'Playfair Display', Arial, sans-serif;
        }
        
        .snip1560 h2 span {
            color: #e8b563;
        }
        
        .snip1560 h3 {
            font-size: 2.3em;
            bottom: 115px;
            font-weight: 700;
            letter-spacing: 2px;
        }
        
        .snip1560 h4 {
            top: 0;
            font-size: 1.2em;
            letter-spacing: 1px;
            font-weight: 400;
            opacity: 0.9;
            font-family: 'Playfair Display', Arial, sans-serif;
        }
        
        .snip1560:hover img,
        .snip1560.hover img {
            opacity: 0.35;
        }
        
        .content {
            position: relative;
            top: -208px;
        }


.shop {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.item {
    background: white;
    box-shadow: 0 2px 5px #2f3538;
    flex: 0 auto;
    margin: 1em;
    color: #206358;
    text-align: center;
    width: 15em;
}

.item__name {
    text-transform: capitalize;
}

.item__money-container,
.item__count-container {
    display: flex;
}

.item__price,
.item__cost,
.item__remove,
.item__count,
.item__add {
    flex: 1;
    height: 2.5rem;
    line-height: 1rem;
    padding: 0.75rem;
}

.item__price,
.item__cost {
    position: relative;
    direction: rtl;
}

/* add a name just above the field */
.item__price::before,
.item__cost::before {
    display: block;
    font-size: 0.8em;
    position: absolute;
    text-align: center;
    top: -6px;
    right: 0;
    left: 0;
}

.item__price::before {
    content: "به ازای هر کیلو";
}

.item__cost {
    color: #59b;
}

.item__cost::before {
    content: "مبلغ نهایی";
}

.item__remove,
.item__add {
    appearance: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1.25em;
    margin: 0;
    outline: none;
}

.item__remove {
        background: #F44336;
    line-height: 0rem;
    padding: 2.0rem;
    flex: 1;
}

.item__count {
    background: #ed6;
        background: #342d2c;
    line-height: 3em;
}

.item__add {
        background: #009688;
    line-height: 0rem;
    padding: 2.0rem;
    flex: 1;

}
.item img{
	width: 100%;
}

.page{
  /*max-width: 60em;*/
  margin: 0 auto;
}
.responstable {
  margin: 1em 0;
  width: 100%;
  overflow: hidden;
  background: #FFF;
  color: #024457;
  border-radius: 10px;
  border: 1px solid #167F92;
}
.responstable tr {
  border: 1px solid #D9E4E6;
}
.responstable tr:nth-child(odd) {
  background-color: #EAF3F3;
}
.responstable th {
  display: none;
  border: 1px solid #FFF;
  background-color: #167F92;
  color: #FFF;
  padding: 1em;
}
.responstable th:first-child {
  display: table-cell;
  text-align: center;
}
.responstable th:nth-child(2) {
  display: table-cell;
}
.responstable th:nth-child(2) span {
  display: none;
}
.responstable th:nth-child(2):after {
  content: attr(data-th);
}
@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}
.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 7em;
}
.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #D9E4E6;
}
@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #D9E4E6;
  }
}
.responstable th, .responstable td {
  text-align: left;
  margin: .5em 1em;
}
@media (min-width: 480px) {
  .responstable th, .responstable td {
    display: table-cell;
    padding: 1em;
  }
}







section {
  width: 80vw;
  max-width: 85rem;
  min-width: 40.9rem;
  margin: -85px auto;
}
@media screen and (max-width: 480px) {
  section {
    min-width: 19rem;
  }
}

.title {
  font-size: 4rem;
  font-weight: 900;
  padding-top: 10vh;
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 3rem;
    text-align: center;
    position: relative;
    padding-top: 6vh;
  }
}
.title:after {
  content: "";
  display: block;
  height: .3rem;
  width: 5.4rem;
  background-color: #fbcd8a;
  -webkit-transform: translate(0.3rem, 2rem);
          transform: translate(0.3rem, 2rem);
}
@media screen and (max-width: 480px) {
  .title:after {
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, 2rem);
            transform: translate(-50%, 2rem);
  }
}

.cards {
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  width: 19rem;
  height: 22.5rem;
  background-color: #f9fbfb;
  border-radius: 6px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5a6c7a;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .05rem;
  -webkit-box-shadow: 0 1rem 3rem #4e4444;
          box-shadow: 0 1rem 3rem #4e4444;
}
@media screen and (max-width: 480px) {
  .card {
    margin-bottom: 2rem;
  }
}
.card__svg-container {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.card__svg-wrapper {
  width: 8rem;
}
.card__count-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__count-text {
  -webkit-transform: translate(0, -0.5rem);
          transform: translate(0, -0.5rem);
}
.card__count-text--big {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
}
.card__stuff-container {
  margin: 0 auto;
  width: 90%;
  direction: rtl;
  height: 15%;
  border-top: 2px solid #e7edef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__stuff-icon, .card__stuff-text {
  display: inline-block;
}
.card__stuff-icon {
  width: 1.3rem;
  height: 1.3rem;
  -webkit-transform: translate(0, -0.3rem);
          transform: translate(0, -0.3rem);
}
.card__stuff-text {
  text-transform: uppercase;
  margin-left: .4rem;
  text-shadow: 0px 0px 1px #584040;
    color: #af1d1d;
  -webkit-transform: translate(0, -0.2rem);
          transform: translate(0, -0.2rem);
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  height: 5.625rem;
  -webkit-transform: translate(1.5rem, 22.5rem);
          transform: translate(1.5rem, 22.5rem);
}
.card--oil:after {
  background-image: radial-gradient(to bottom, rgba(106, 122, 135, 0.5), transparent 70%);
}
.card--oil2:after {
  background-image: radial-gradient(to bottom, rgba(106, 122, 135, 0.5), transparent 70%);
}
.card--tree:after {
  background-image: radial-gradient(to bottom, rgba(106, 191, 96, 0.5), transparent 70%);
}
.card--water:after {
  background-image: radial-gradient(to bottom, rgba(96, 203, 231, 0.5), transparent 70%);
}



button {
  font-size: 19px;
  font-family: 'vazir';
  overflow: visible;
  border-radius: 3px;
  position: relative;
  padding-right: 30px;
  direction: rtl;
  background-color: #ecfbff;
  border: 2px solid #a6e0ee;
  color: #2d7586;
  display: block;
  margin: 10% auto;
  height: 60px;
  width: 200px;
  cursor: pointer;
}
button:hover {
  background-color: #ddf7ff;
}
button:hover svg {
  -webkit-transform: rotate(10deg);
  -moz-transform: rotate(10deg);
  -o-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
  -webkit-transition: -webkit-transform 0.15s;
  -moz-transition: -moz-transform 0.15s;
  -o-transition: -o-transform 0.15s;
  -ms-transition: -ms-transform 0.15s;
  transition: transform 0.15s;
}
button svg {
  position: absolute;
  top: 13px;
  left: 25px;
  height: 30px;
  width: auto;
  -webkit-transition: -webkit-transform 0.15s;
  -moz-transition: -moz-transform 0.15s;
  -o-transition: -o-transform 0.15s;
  -ms-transition: -ms-transform 0.15s;
  transition: transform 0.15s;
}
button svg path {
  fill: #2d7586;
}
button.clicked {
  background-color: #cff5b3;
  border: 2px solid #cff5b3;
  color: #6aaa3b;
  padding-right: 6px;
  -webkit-animation: bounce-in 0.3s;
  -moz-animation: bounce-in 0.3s;
  -o-animation: bounce-in 0.3s;
  -ms-animation: bounce-in 0.3s;
  animation: bounce-in 0.3s;
  cursor: default;
}
button.clicked svg {
  -webkit-animation: flyaway 1.3s linear;
  -moz-animation: flyaway 1.3s linear;
  -o-animation: flyaway 1.3s linear;
  -ms-animation: flyaway 1.3s linear;
  animation: flyaway 1.3s linear;
  top: -80px;
  right: -1000px;
}
button.clicked svg path {
  fill: #6aaa3b;
}
@-moz-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-webkit-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-o-keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@keyframes flyaway {
  0% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 25px;
    height: 30px;
  }
  5% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: 13px;
    right: 0px;
    height: 30px;
  }
  20% {
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    top: 13px;
    right: -130px;
    height: 45px;
  }
  40% {
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    transform: rotate(10deg);
    top: -40px;
    right: -280px;
    opacity: 1;
    -ms-filter: none;
    filter: none;
  }
  100% {
    -webkit-transform: rotate(60deg);
    -moz-transform: rotate(60deg);
    -o-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    transform: rotate(60deg);
    top: -200px;
    right: -1000px;
    height: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
  }
}
@-moz-keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
@-webkit-keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
@-o-keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}
@keyframes bounce-in {
  0% {
    padding-right: 30px;
  }
  40% {
    padding-right: 6px;
  }
  50% {
    padding-left: 30px;
  }
  100% {
    padding-left: 6px;
  }
}


.timeline {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.li {
  transition: all 200ms ease-in;
}

.timestamp {
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 100;
}

.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 2px solid #D6DCE0;
  position: relative;
  transition: all 200ms ease-in;
}
.status h4 {
  font-weight: 600;
}
.status:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 25px;
  border: 1px solid #ddd;
  position: absolute;
  top: -15px;
  left: 42%;
  transition: all 200ms ease-in;
}

.li.complete .status {
  border-top: 2px solid #66DC71;
}
.li.complete .status:before {
  background-color: #66DC71;
  border: none;
  transition: all 200ms ease-in;
}
.li.complete .status h4 {
  color: #66DC71;
}

@media (min-device-width: 320px) and (max-device-width: 700px) {
  .timeline {
    list-style-type: none;
    display: block;
  }

  .li {
    transition: all 200ms ease-in;
    display: flex;
    width: inherit;
  }

  .timestamp {
    width: 100px;
  }

  .status:before {
    left: -8%;
    top: 30%;
    transition: all 200ms ease-in;
  }
}

h3{
	color: #081418;
    font-size: 7rem;
}










.cards {
  padding-top: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.card {
  width: 19rem;
  height: 22.5rem;
  background-color: #f9fbfb;
  border-radius: 6px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #5a6c7a;
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: .05rem;
  -webkit-box-shadow: 0 1rem 3rem #4e4444;
          box-shadow: 0 1rem 3rem #4e4444;
}
@media screen and (max-width: 480px) {
  .card {
    margin-bottom: 2rem;
  }
}
.card__svg-container {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.card__svg-wrapper {
  width: 8rem;
}
.card__count-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__count-text {
  -webkit-transform: translate(0, -0.5rem);
          transform: translate(0, -0.5rem);
}
.card__count-text--big {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
}
.card__stuff-container {
  margin: 0 auto;
  width: 90%;
  direction: rtl;
  height: 15%;
  border-top: 2px solid #e7edef;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.card__stuff-icon, .card__stuff-text {
  display: inline-block;
}
.card__stuff-icon {
  width: 1.3rem;
  height: 1.3rem;
  -webkit-transform: translate(0, -0.3rem);
          transform: translate(0, -0.3rem);
}
.card__stuff-text {
  text-transform: uppercase;
  margin-left: .4rem;
  text-shadow: 0px 0px 1px #584040;
    color: #af1d1d;
  -webkit-transform: translate(0, -0.2rem);
          transform: translate(0, -0.2rem);
}
.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 16rem;
  height: 5.625rem;
  -webkit-transform: translate(1.5rem, 22.5rem);
          transform: translate(1.5rem, 22.5rem);
}
.card--oil:after {
  background-image: radial-gradient(to bottom, rgba(106, 122, 135, 0.5), transparent 70%);
}
.card--oil2:after {
  background-image: radial-gradient(to bottom, rgba(106, 122, 135, 0.5), transparent 70%);
}
.card--tree:after {
  background-image: radial-gradient(to bottom, rgba(106, 191, 96, 0.5), transparent 70%);
}
.card--water:after {
  background-image: radial-gradient(to bottom, rgba(96, 203, 231, 0.5), transparent 70%);
}






.timeline {
  position: relative;
  margin: 1.5rem;
}

.step {
  position: relative;
  padding: 0.5rem;
  padding-left: 1.5rem;
  border-left: 2px solid #d6dce0;
}

.step[data-notes-count]:before {
  content: attr(data-notes-count);
  font-size: 0.8rem;
  line-height: 1.5rem;
  text-align: center;
}

.step:before {
  content: '';
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1.5rem;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  position: absolute;
  left: -0.75rem;
  top: 0.75rem;
  margin-left: -1px;
}

.step .date {
  font-size: 80%;
  color: gray;
}

.step .title {
  font-weight: bolder;
}

.step.completed {
  border-color: #3cd34a;
}

.step.completed:before {
  border: 1px solid #3cd34a;
  background-color: #66dc71;
}

.step.current {
  border-color: #2bb2f0;
}

.step.current:before {
  border: 1px solid #2bb2f0;
  background-color: #5bc3f3;
}

@media screen and (min-width: 40em) {
  .timeline {
    font-size: 0;
    padding-top: 1.5rem;
  }

  .step {
    display: inline-block;
    font-size: 0.8rem;
    width: 8.8rem;
    padding-left: 0;
    margin-bottom: 0;
    border-left: none;
    border-top: 2px solid #d6dce0;
    padding-top: 0.75rem;
    text-align: center;
  }

  .step:before {
    left: 3.65rem;
    top: -0.75rem;
    margin-left: 0;
    margin-top: -1px;
  }
}
@media screen and (min-width: 50em) {
  .step {
    font-size: 1rem;
    width: 11rem;
  }

  .step:before {
    left: 4.75rem;
  }
}
